/* CSS for mini favs chrome extension, Menoko OG, 12-25-23 */

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    /* background-image: url("./owen_unsplash.jpg"); */
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom: 4px;
}

button {
    background: black;
    color: goldenrod;
    padding: 10px 20px;
    border: 1px, solid,#5f9341;
    font-weight: bold;
}

#delete-btn {
    background: goldenrod;
    color: black;  
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;

}

li {
    margin-top: 5px;
}

a {
    color: purple;
}